@font-face {
  font-family: 'fastfont';  /* project id 1027702 */
  src: url('//at.alicdn.com/t/font_1027702_c61chy7yl4.eot');
  src: url('//at.alicdn.com/t/font_1027702_c61chy7yl4.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1027702_c61chy7yl4.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1027702_c61chy7yl4.woff') format('woff'),
  url('//at.alicdn.com/t/font_1027702_c61chy7yl4.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1027702_c61chy7yl4.svg#iconfont') format('svg');
}

i[class^="course-icon"], i[class*=" course-icon"] {
  font-family:"fastfont" !important;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	vertical-align: middle;
	margin-right: 5px;
	width: 24px;
	text-align: center;
	font-size: 17px;
}

$icf-css-prefix: "course-icon";

.#{$icf-css-prefix}-vedio:before { content: "\e611"; } // 已添加
.#{$icf-css-prefix}-doc:before { content: "\e64e"; }
.#{$icf-css-prefix}-ppt:before { content: "\e63a"; }
.#{$icf-css-prefix}-study-start:before { content: "\e64b"; }
.#{$icf-css-prefix}-study-end:before { content: "\e60a"; }
.#{$icf-css-prefix}-study-ing:before { content: "\e60f"; }
